/* SET-UP */
@import url("https://fonts.googleapis.com/css?family=Roboto|Gelasio&display=swap");
$color-logo: #ffb400;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  min-height: 400px;
}

h1 {
  font-size: 3em;
}

/* NAVBAR */

.navbar {
  height: 70px;
  top: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  background-color: $color-logo;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.lessOpacity {
  opacity: 0.85;
}

.navbar-logo {
  height: 60px;
  margin-left: 1em;
}

.navbar-menu {
  list-style-type: none;
}

.navbar-link {
  color: black;
  &:hover {
    color: white;
    font-weight: bold;
  }
}

.fm-logo {
  width: 100px;
}

.logo-with-description {
  display: flex;
  flex-direction: row;
  color: white;
  font-family: "Gelasio", serif;
  align-items: center;
  div {
    padding-left: 0;
    margin-left: -1.6em;
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  #menu {
    display: none;
    background-color: $color-logo;
    padding: 1em;
    padding-top: 2em;
    line-height: 1.5em;
  }

  #navbar-icon {
    color: black;
    display: block;
    position: absolute;
    margin-top: 1em;
    margin-right: 1em;
    right: 0;
    top: 0;
    border: none;
    background: none;
    outline: none;
    div {
      width: 30px;
      height: 4px;
      background-color: black;
      margin: 4px 0;
    }
  }
}

.first-line {
  transform: translateY(8px) rotate(135deg);
}
.second-line {
  transform: rotate(-135deg);
}

@media (min-width: 769px) {
  #menu {
    display: flex !important;
    li {
      padding: 0.5em;
    }
  }
  #navbar-icon {
    display: none !important;
  }
}

/* TITLE CONTAINER */

.title-container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  h1 {
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 2px $color-logo;
    font-family: "Gelasio", serif;
    font-weight: 100;
    margin: 0.5em;
  }
  img {
    width: 80%;
  }
}

@media (min-width: 769px) {
  .title-container {
    height: 640px;
    h1 {
      font-size: 4em;
    }
    img {
      width: 60%;
    }
  }
}

/* ABOUT CONTAINER */

#about {
  padding: 4em;
  background-color: #d5d4dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    margin-top: 2em;
    font-size: 1em;
    line-height: 2em;
  }
}

@media (max-width: 768px) {
  #about {
    padding: 1em;
    text-align: center;
  }
}

/* PARTNERS CONTAINER */

#partners {
  background-color: #d5d4dc;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    li {
      width: 30%;
      padding: 0.5em;
      margin: 0.5em;
      text-align: center;
    }
    li:hover {
      text-shadow: 2px 2px 4px white;
    }
  }
}

@media (max-width: 768px) {
  #partners {
    padding: 0.5em;
  }
}

/* SERVICES CONTAINER */

#services {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  div {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      text-align: center;
    }
  }
  img {
    max-width: 100px;
  }
}

@media (max-width: 768px) {
  .services-container div {
    width: 40%;
  }
}

@media (min-width: 869px) {
  .services-container div {
    width: 15%;
  }
}

/* CLIENTS */

#clients {
  margin: 1em;
  height: 650px;
}

.clients-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  .slides {
    margin: auto 1%;
    width: 28%;
    // height: 100%;
    // height auto doesn't work on chrome. The alternative to avoid distortion is to write height: 100% or align-self: center
    align-self: center;
  }
}

@media (max-width: 768px) {
  #clients {
    height: 400px;
    .clients-container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .slides {
        width: 40%;
      }
    }
  }
}

/* FOOTER */

#contacts {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 100%;
}

.footer-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em;
  .address-map {
    text-align: center;
  }
  div {
    width: 50%;
    img {
      width: 80%;
      &:hover {
        box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
      }
    }
    .email-link {
      color: white;
      text-decoration: underline;
    }
    div {
      margin-top: 1em;
    }
  }
  h6 {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1.5em;
  }
  p {
    margin-top: 1em;
    margin-bottom: 0;
  }
  .social-logo {
    width: 25px;
  }
}

@media (max-width: 768px) {
  .footer-contents {
    display: flex;
    flex-direction: column;
    h6 {
      font-size: 1em;
    }
    div {
      width: 100%;
      img {
        width: 100%;
        margin-top: 1em;
      }
    }
  }
}
