/* SET-UP */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
$color-logo: #ffb400;

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 300px;
}

/* NAVBAR */

.navbar {
  height: 70px;
  top: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  background-color: grey;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

.navbar-logo {
  height: 70px;
  margin-left: 1em;
}

.navbar-menu {
  list-style-type: none;
}

.navbar-link {
  color: black;
}

.fm-logo {
  width: 100px;
}

#menu {
  display: none;
  background-color: grey;
  padding: 1em;
}

#navbar-icon {
  color: black;
  display: block;
  position: absolute;
  margin-top: 1em;
  margin-right: 1em;
  right: 0;
  top: 0;
  border: none;
  background: none;
  div {
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 4px 0;
  }
}

/* TITLE CONTAINER */

.title-container {
  margin-top: 70px;
  background-image: url("./../images/FM-CARTA.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 4em;
    text-shadow: 2px 2px 4px grey;
    font-family: "Times New Roman", Times, serif;
  }
}

/* SERVICES CONTAINER */

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  div {
    padding: 1em;
  }
}

/* CLIENTS */

.clients-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  img {
    margin: 0.5em;
    max-width: 100px;
  }
}

/* FOOTER */

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  height: 70px;
}

.footer-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-contents h6 {
  margin-top: 1em;
  margin-bottom: 0;
}

.footer-contents p {
  margin-top: 1em;
  margin-bottom: 0;
}
