<!DOCTYPE html>
<html lang="pt">
  <head>
    <title>FM-Consultores Associados, Lda.</title>
    <link rel="icon" href="./../../images/fm-logo-orange.png" />
    <meta name="description" content="Empresa de prestação de serviços nas áreas da gestão e contabilidade. Desde da sua fundação veio sempre a crescer e conta com uma grande carteira de clientes de diferentes setores.">
    <!-- A robots tag is an element in the HTML of a page that informs search engines which pages on your site should be indexed and which should not. -->
    <meta name="robots" content="index"> 
    <!-- When you have a few pages with identical content, you can use a canonical tag to tell search engines which page should be prioritized. -->
    <link href="http://fm-consultores.com" rel="canonical">
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1">
    <!-- Open Graph (OG) tags are additional meta tags in HTML <head> section of a page that allow any webpage to become a rich object in social networks -->
    <meta property="og:locale" content="pt_PT">
    <meta property="og:type" content="website">
    <meta property="og:title" content="FM Consultores Associados Lda">
    <meta property="og:description" content="Empresa de prestação de serviços nas áreas da gestão e contabilidade. Desde da sua fundação veio sempre a crescer e conta com uma grande carteira de clientes de diferentes setores.">
    <meta property="og:url" content="http://fm-consultores.com/">
    <meta property="og:site_name" content="FM-Consultores Associados, Lda.">
    <meta property="og:image" content="http://fm-consultores.com/LG-CORES.26dd0ddd.jpg">
  </head>
  <body>
    {{>navbar}}
    <div id="siteContent">
    {{>title}}
    {{>about}}
    {{>services}}
    {{>partners}}
    {{>clients}}
    {{>footer}}
    </div>
    <script src="./../../scripts/index.js"></script>
    <script src="./../../scripts/languageSettings.js"></script>
  </body>
</html>
