<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>FM-Consultores Associados, Lda.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {{>navbar}}
    {{>title}}
    {{>about}}
    {{>services}}
    {{>partners}}
    {{>clients}}
    {{>footer}}
    <script src="./../../scripts/index.js"></script>
  </body>
</html>
