<!DOCTYPE html>
<html lang="eng">
  <head>
    <title>FM-Consultores Associados, Lda.</title>
  </head>
  <body>
    {{>navbar}}
    {{>title}}
    {{>about}}
    {{>partners}}
    {{>services}}
    {{>clients}}
    {{>footer}}
    <script src="./../../scripts/index.js"></script>
  </body>
</html>
