<div class='container' id="about">
 <h1>Sobre</h1> 
      A “FM Consultores Associados” foi constituída em 25 de Maio de 1990.
O seu fundador Fernando Mateus é licenciado em Organização e Gestão de Empresa, inscrito da ordem dos Contabilistas Certificados desde 4 de agosto de 1987 com o numero 23776.
É membro de Órgãos Sociais de diversas empresas privadas tendo iniciado a sua atividade profissional chefiando os Serviços de Contabilidade da Associação Industrial Portuguesa  
</div>