<div class='container' id="clients">
  <h1 id='clientsClients' class="smallerTitle">{{pt.clientsClients}}</h1>
  <p id='clientsDescription'>{{pt.clientsDescription}}</p>
  <div class="clients-container">
  <img src="./../../images/clients/atelier38.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/atelieremedios.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/b.leza.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/contemporanea.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/CVDB.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/escadafacil.gif" alt="Atelier38" class="slides">
  <img src="./../../images/clients/estimulopraxis.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/festina.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/fssmgn.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/gebalis.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/girosoft.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/griffe.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/idc.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/inibsa.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/kasperskylogo.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/luxfragil.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/mariabastos.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/Minabel.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/nintendo.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/pharmathen.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/ressa.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/santarita.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/tap-up.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/tecnicorugby.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/timeroad.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/upaya.jpg" alt="Atelier38" class="slides">
  <img src="./../../images/clients/vieradealmeida.png" alt="Atelier38" class="slides">
  <img src="./../../images/clients/xxs.jpg" alt="Atelier38" class="slides">
  {{!-- <img src="" alt="" class="slides" id="firstImage">
  <img src="" alt="" class="slides" id="secondImage">
  <img src="" alt="" class="slides" id="thirdImage"> --}}
  </div>
</div>