    <footer id="contacts">
      <div class="footer-contents">
        <div class="contact-details">
          <br>
      <div><h6 id="contactsContacts">{{pt.contactsContacts}}</h6><p>+351 21 843 5080</p> <p id="contact-email">  </p></div>
      <div><h6 id="contactsAddress">{{pt.contactsAddress}}</h6><p>Av. do Atlantico Lote 1.19.02 / Escritorio 11.10, Edificio Panoramic, Lisboa, 1990-119, PT</p></div>
       <div><a href="https://web.facebook.com/FM-Consultores-Associados-576612062451952/" target="_blank"><img src="../../images/facebook-logo.png" alt="Facebook" class="social-logo"></a>
      <a href="https://www.linkedin.com/company/fm---consultores-associados/about/" target="_blank"><img src="../../images/linkedin-logo.png" alt="LinkedIn" class="social-logo"></a>
      </div>
      </div>
      <div class='address-map'>
        <a href="https://www.google.com/maps/place/Av.+do+Atl%C3%A2ntico+1,+Lisboa,+Portugal/@38.773743,-9.100351,17z/data=!3m1!4b1!4m5!3m4!1s0xd19318bd635be6d:0xcc65a629b1d32231!8m2!3d38.773743!4d-9.0981623" target="_blank">
        <img src="../../images/address-map.png" alt="Address-map" id="map-computer">
        <img src="../../images/address-map-mobile.png"  alt="Address-map" id="map-mobile">
        </a>
      </div>
           </div>
    </footer>


<!-- This script will allow the email to be completely hidden from spam bots, because they won’t trigger the click event.-->

<script language="JavaScript" type="text/javascript">
  var part1 = "geral";
  var part2 = Math.pow(2,6);
  var part3 = String.fromCharCode(part2);
  var part4 = "fm-consultores.com";
  var part5 = part1 + String.fromCharCode(part2) + part4;
  document.getElementById('contact-email').innerHTML = "<a href=" + "mai" + "lto" + ":" 
+ part5 + " class=email-link" + ">" + part1 + part3 + part4 + "</a>"
</script>


<!-- I wanted to use mailhide to hide e-mail with recaptcha -->
<!--  <a target="_blank" href="https://mailhide.io/e/ojAsm">g......@fm-consultores.com</a> -->
<!-- <a href="https://mailhide.io/e/ojAsm" class="email-link" onclick="mailhidepopup=window.open('https://mailhide.io/e/ojAsm','mailhidepopup','width=580,height=635'); return false;">g......@fm-consultores.com</a> -->