    <footer class="footer" id="contacts">
      <div class="footer-contents" heigth="70px">
      <div><h6>Contactos</h6><p>+351 21 843 5080</p></div>
      <div><h6>Morada</h6><p>Av. do Atlantico Lote 1.19.02 / Escritorio 11.10, Edificio Panoramic, Lisboa, 1990-119, PT</p></div>
      </div>
      <div><a href="https://web.facebook.com/FM-Consultores-Associados-576612062451952/" target="_blank">Facebook</a>
      <a href="https://www.linkedin.com/company/fm---consultores-associados/about/" target="_blank">Linkedin</a></div>
    </footer>