<nav class="navbar" id="nav">
  <div class="logo-with-description">
    <img
      src="./../../images/fm-logo-orange-original.png"
      alt="fm-logo"
      class="navbar-logo"
    />
  </div>
  <div>
    <ul class="navbar-menu" id="menu">
      <li><a href="#about" class="navbar-link" id="navAbout">{{pt.navAbout}}</a></li>
      <li><a href="#services" class="navbar-link" id="navServices">{{pt.navServices}}</a></li>
      <li><a href="#partners" class="navbar-link" id="navPartners">{{pt.navPartners}}</a></li>
      <li><a href="#contacts" class="navbar-link" id="navContacts">{{pt.navContacts}}</a></li>
      <li>
        <button id="enSelect">EN</button>
        /
        <button id="ptSelect">PT</button>
      </li>
    </ul>
    <button id="navbar-icon">
      <div></div>
      <div></div>
      <div></div>
    </button>
  </div>
</nav>
