<nav class="navbar">
  <div> 
    <img src="./../../images/LG_CORES-nobg.png" alt="fm-logo" class="navbar-logo">
 </div>
 <div>  
        <ul class="navbar-menu" id="menu">
          <li><a href="#about" class='navbar-link'> Sobre nós</a> </li>
          <li><a href="#partners" class='navbar-link'>Associados</a> </li>
          <li><a href="#services" class='navbar-link'>Serviços</a> </li>
          <li><a href="#contacts" class='navbar-link'>Contactos</a> </li>
        </ul>
         <button id="navbar-icon">
           <div></div>
            <div></div>
            <div></div>
</button>
 </div>
</nav>
