<div class="container" id="partners">
  <h1 id="partnersPartnerships">{{pt.partnersPartnerships}}</h1>
  <ul>
    <li>AICA <br> Assoc. Internac. de Criticos de Arte</li>
    <li>BEBOT <br> Assoc. Para a Promoção da Arte Robótica e Tecnológica</li>
    <li>XXS <br> Assoc. Portuguesa de Apoio ao Bebe Prematuro</li>
    <li>APDC <br>  Assoc. Portuguesa para o Desenvolvimento das Comunicações</li>
    <li>Associação Portuguesa de Facility Services</li>
    <li>Hélice <br> Fotógrafos que usam a Fotografia – Associação</li>
    <li>Obs <br> Oficina de Tavira Associação Cultural</li>
    <li>Idanhaculta <br> Assoc. de Desenvolvimento Social</li>
    <li>Aprender a Empreender <br>  Assoc. Jovens Empreendedores de Portugal</li>
    <li>APHM <br> Assoc. Portuguesa de Habitação Municipal</li>
    <li>APOEP <br> Assoc. Port. Orientadores Escolares e Profissionais</li>
    <li>AERLIS <br> Associação Empresarial Região de Lisboa</li>
  </ul>

</div>
