<div class="container" id="partners">
  <h1>Associados</h1>
  <ul>
    <li>APDC – Assoc. Portuguesa para o Desenvolvimento das Comunicações</li>
    <li>AICA - Assoc. Internac. de Criticos de Arte</li>
    <li>BEBOT - Assoc. Para a Promoção da Arte Robótica e Tecnológica</li>
    <li>XXS - Assoc. Portuguesa de Apoio ao Bebe Prematuro</li>
    <li>Associação Portuguesa de Facility Services</li>
    <li>Hélice - Fotógrafos que usam a Fotografia – Associação</li>
    <li>Obs - Oficina de Tavira Associação Cultural</li>
    <li>Idanhaculta - Assoc. de Desenvolvimento Social</li>
    <li>Aprender a Empreender – Assoc. Jovens Empreendedores de Portugal</li>
    <li>APHM - Assoc. Portuguesa de Habitação Municipal</li>
    <li>APOEP - Assoc. Port. Orientadores Escolares e Profissionais</li>
    <li>AERLIS - Associação Empresarial Região de Lisboa</li>
  </ul>
</div>
