<div class='container' id="partners">
  <h1>Associados</h1>
  <p>
APDC – Associação Portuguesa par o Desenvolvimento das Comunicações
AICA - Associação Internac.de Criticos de Arte
BEBOT - Associação Para a Promoção da Arte Robótica e Tecnológica
XXS - ASSOCIAÇÃO PORTUGUESA DE APOIO AO BEBE PREMATURO
Associação Portuguesa de Facility Services
Hélice - Fotógrafos que usam a Fotografia – Associação
Obs - Oficina de Tavira Associação Cultural
Idanhaculta - Associação de Desenvolvimento Social
Aprender a Empreender – Associação .Jovens Empreendedores de Portugal
APHM - Assoc.Portuguesa de Habitação Municipal
APOEP - Assoc.Port.Orientadores Escolares e Profissionais
AERLIS - Associação Empresarial Região de Lisboa</p>
</div>