<div class='container' id="services">
  <h1>Serviços</h1>
  <div class='services-container'>
  <div>  Contabilidade Organizada
</div>
  <div>  Apuramentos de impostos
</div>
  <div>  Gestão de Clientes
</div>
  <div>  Consultoria
</div>
  <div>  Recursos Humanos
</div>
</div>
</div>